###########################################################################
#                            TextMate Snippets                            #
###########################################################################
snippet if "if"
{{#if ${1}}}${2}{{/if}}
endsnippet

snippet ife "if else"
{{#if ${1}}}${2}{{else}}${3}{{/if}}
endsnippet

snippet each "each"
{{#each ${1}}}${2}{{/each}}
endsnippet

# vim:ft=snippets:
